<launch>
    <!-- Load Parameters -->
    <rosparam command="load" file="$(find consense_ros)/config/params.yaml" />
    <rosparam command="load" file="$(find consense_ros)/config/sensors.yaml" />

    <!-- Run ConSense Node -->
    <node pkg="consense_ros" type="anomaly_detector.py" name="consense_node" output="screen">
        <!-- Remap topics if necessary -->
        <!-- <remap from="/baseline/residual" to="/your_ekf/innovation" /> -->
    </node>
</launch>